.form {
    border: 1px solid Silver;
    border-radius: 10px;
    margin-top: 20px;
    width: 450px;
    position: relative;
}

.genis {
    width: 850px !important;
}

.formbaslik {
    padding: 5px;
    color: #808080;
    border-bottom: 1px solid Silver;
    background-color: #dddddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.formIcerik {
    padding: 15px;
}

.formkolon {
    padding: 5px;
    width: 350px;
    float: left;
}

.satir {
    min-height: 40px;
}

    .satir label {
        width: 90px;
        display: inline-block;
    }

    .satir .formcontrol {
        padding: 5px;
        width: 200px;
        margin-left: 10px;
    }

.buton {
    color: white;
    background-color: #019a45;
    padding: 5px 15px 5px 15px;
    border: 1px solid #019a45;
    border-radius: 5px;
    text-decoration: none;
}

    .buton:hover {
        color: #053d0e;
        background-color: #75ff78;
    }

.mesajbasarili {
    color: #3c763d;
    background-color: #dff0d8;
    padding: 10px;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    margin: 5px;
}

.mesajbasarisiz {
    color: #721c24;
    background-color: #f8d7da;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin: 5px;
}
